<img src="https://stereoscopic-thirty.s3.ap-northeast-2.amazonaws.com/DefaultAppImages/%EB%A1%9C%EA%B3%A0.png"
    alt="써티 글자 로고, Thirty">
<h2>회원가입을 완료해주세요.</h2>
<div>
    <p>안녕하세요. 써티입니다.</p>
    <p>아래 인증 번호를 입력하여 회원가입을 완료해주세요.</p>
</div>
<% if (code) { %>
    <h2><%= code %></h2>
<% } %>